USE [master]
GO
/****** Object:  Database [Todos]    Script Date: 16/03/2018 13:47:01 ******/
CREATE DATABASE [Todos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Todos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Todos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Todos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Todos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Todos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Todos]
GO
USE [Todos]
GO
/****** Object:  Table [dbo].[operacao_usuario]    Script Date: 16/03/2018 13:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operacao_usuario](
	[ID_OPERACAO_ACESSO] [int] IDENTITY(1,1) NOT NULL,
	[DT_LOG] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
 CONSTRAINT [PK_operacao_usuario] PRIMARY KEY CLUSTERED 
(
	[ID_OPERACAO_ACESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 16/03/2018 13:47:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[ID_PERFIL] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NULL,
	[ATIVO] [int] NULL,
 CONSTRAINT [PK_perfil] PRIMARY KEY CLUSTERED 
(
	[ID_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teste]    Script Date: 16/03/2018 13:47:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teste](
	[index] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_teste] PRIMARY KEY CLUSTERED 
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 16/03/2018 13:47:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN] [varchar](50) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[SENHA] [varchar](50) NOT NULL,
	[ATIVO] [int] NULL,
	[DT_INCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_perfil]    Script Date: 16/03/2018 13:47:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_perfil](
	[ID_PERFIL] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ATIVO] [int] NULL,
 CONSTRAINT [PK_usuario_perfil] PRIMARY KEY CLUSTERED 
(
	[ID_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ATUALIZAR_USUARIO]    Script Date: 16/03/2018 13:47:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ATUALIZAR_USUARIO]
		 @ID AS INT,
         @LOGIN AS VARCHAR(50),
         @NOME AS VARCHAR(50),
         @EMAIL AS VARCHAR(9),
         @SENHA AS VARCHAR(50),
         @ATIVO AS INT
  AS
  BEGIN
		 UPDATE dbo.usuario SET LOGIN=@LOGIN,NOME=@NOME,EMAIL=@EMAIL,SENHA=@SENHA,ATIVO=@ATIVO
		 WHERE dbo.usuario.ID_USUARIO = @ID
        
  END
GO
/****** Object:  StoredProcedure [dbo].[EXCLUIR_USUARIO]    Script Date: 16/03/2018 13:47:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[EXCLUIR_USUARIO]
         @ID AS INT
  AS
  BEGIN
         DELETE FROM dbo.usuario WHERE dbo.usuario.ID_USUARIO =@ID
  END
GO
/****** Object:  StoredProcedure [dbo].[INSERIR_USUARIO]    Script Date: 16/03/2018 13:47:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[INSERIR_USUARIO]
         @LOGIN AS VARCHAR(50),
         @NOME AS VARCHAR(50),
         @EMAIL AS VARCHAR(9),
         @SENHA AS VARCHAR(50),
         @ATIVO AS INT
  AS
  BEGIN
         INSERT INTO dbo.usuario (LOGIN,NOME,EMAIL,SENHA,ATIVO,DT_INCLUSAO) 
         VALUES (@LOGIN, @NOME, @EMAIL , @SENHA, @ATIVO, getdate())
  END
GO
/****** Object:  StoredProcedure [dbo].[SELECIONAR_USUARIO]    Script Date: 16/03/2018 13:47:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   
  CREATE PROCEDURE [dbo].[SELECIONAR_USUARIO]
         @ID AS INT
  AS
  BEGIN
         SELECT * FROM dbo.usuario WHERE usuario.ID_USUARIO =@ID 
  END  
GO
USE [master]
GO
